body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('../photos/background.webp') no-repeat center center/cover;
  color: black;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1rem 2rem;
  position: relative;
  z-index: 5;
}


.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a.active {
  text-decoration: underline;
}
/* Welcome Section */
.welcome-section {
  position: relative;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  overflow: hidden;
}



.welcome-section h2,
.welcome-section p,
.welcome-section .buttons {
  position: relative;
  z-index: 2;
}

.welcome-section h2 {
  font-size: 3rem;
  margin: 0.5rem 0 0.3rem 0;
}

.welcome-section p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.buttons {
  margin-top: 0.5rem;
}

.btn {
  background: hotpink;
  color: white;
  padding: 0.75rem 1.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
  border-radius: 5px;
}

/* Footer */
footer {
  background: transparent;
  text-align: center;
  padding: 1rem;
  color: black;
}
